.container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 97vw;
  }
}

.smallPicContainer {
  text-align: center;
  width: 100%;
  margin: 0;
}

.smallPics {
  height: 2.2em;
  padding: 1em;
}

.container hr {
  height: 1px;
  width: 90%;
  background-color: black;
  border: none;
}

.container h3 {
  width: 90%;
}

#myPhoto {
  width: 90%;
  border-radius: 50%;
}
