.container {
  width: 60vw;
  height: 100vh;
  padding: .5rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 97vw;
  }
}

.teamMembersWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5em;
  
}
