.container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lato;
}

.container p {
  font-size: 1.3em;
}

.container h3 {
  width: 80%;
}

.step1,
.step2,
.info {
  margin: 0 0 2em 0;
  background-color: #afc4cec4;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 95%;
  overflow: hidden;
}

.step1 h1,
.step2 h1,
.info h1 {
  text-decoration: underline;
  text-align: center;
}

.starterPack,
.privateSessions,
.duetSessions,
.groupClasses {
  width: 100%;
  display: flex;
  justify-content: start;
  overflow: auto;
}

.groupClasses:focus-within .scrollRightImg{
  visibility: hidden;
}



.scrollRightImg {
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin: 0 -1.6em 0 -1.6em ;
}

.scrollRightImg img {
  width: 3em;
  opacity: 0.5;
}

