.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #064420;
}

.main_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 1em;
  margin: 0;
  padding: 0.1em;
}

.main_nav:last-child li:first-child {
  background-color: #064420;
}

.main_nav:last-child li:last-child:hover {
 background-color: #064420;
}


li:hover {
  background-color: #0c6431;
}

.container ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #faf1e6;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: bold;
  padding: 1em 3em 1em 3em;
}


.logo_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.logo_title p {
  font-family: "Architects Daughter", cursive;
  color: #faf1e6;
  letter-spacing: 0.1em;
  text-align: center;
  margin: .7em 0 0 0 ;
  font-size: .8em;
  text-transform: capitalize;

}

.logo_title img {
  margin: 0;
  height: 100%;
  height: 4em;
}


/* Media queries */

@media only screen and (max-width: 1000px) {
  .main_nav {
    font-size: .5em;
    padding: 0;
  }
  
  .main_nav:last-child li:first-child {
    display: none;
  }

  .main_nav:last-child li:last-child {
    display: none;
  }

  

  .logo_title p {
    font-size: .6em;
  }

  .container ul li a {
    padding: 1em 1em 1em 1em;
  }

}

@media only screen and (max-width: 1210px) {
 
  
  .main_nav:last-child li:first-child {
    display: none;
  }

  .main_nav:last-child li:last-child {
    display: none;
  }

}
