.container {
  width: 70vw;
  border-radius:15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(240, 248, 255, 0.582);
  margin-top: 2em;
  padding: 1em;
}
