.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 2em;
  border-radius: 5px;
  width: 15vw;
  height: fit-content;
  min-width: 15vw;
  background-color: #064420;
  /* background-color: #012730; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-shadow: 0px 3px 4px 2px #000000;
  box-shadow: 0px 3px 4px 2px #000000;
}

.container :is(h1, h2, h3, h5) {
  color: #ffff;
  width: fit-content;
  align-self: center;
}

.container h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.container h5 {
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  margin-bottom: 0em;
}

.container hr {
  margin: -0.5em 0 -0.5em 0;
  width: 100%;
}

.image {
  display: flex;
  justify-content: center;
  height: 7vh;
  width: 100%;
}

.image img {
  height: 100%;
}

.container a {
  margin-top: auto;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #faf1e6;
  width: 100%;
  align-self: center;
  padding: 0.5em;
  text-decoration: none;
}

.container a:visited {
  color: black;
  text-decoration: none;
}


/* CSS */
/* .container a {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container a:hover {
  background-color: #fff;
}

.container a:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .container a {
    min-width: 120px;
    padding: 0 25px;
  }
} */