.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container hr {
    height: 1px;
    width: 80%;
    background-color: black;
    border: none;
}