.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
  background-color: #fdfaf6;
  background-image: url(../images/studio.jpeg);
  background-size: cover;
  background-position: 50% 80%;
  
}
