.container {
    
}

.main_nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding: .1em;
    background-color: #00262f;
    
    
}

@media only screen and (max-width: 800px) {
    .main_nav {
        font-size: .3em;
        padding: 0;
    }
}


li {
    padding: 2vw;
    
    
}

a {
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
}
