.container {
    position: fixed;
    top: 0;
    border: 1px solid purple;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    /* background-color: #00262f; */
    background-color: #064420;
}



.main_nav {
    
    display: flex;
    justify-content: end;
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding: .1em;
}

li {
    padding: 2vw;
    
    
}

a {
    /* color: antiquewhite; */
    color: #faf1e6;
    text-decoration: none;
    text-transform: uppercase;
    /* font-family: Lato; */
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
}

@media only screen and (max-width: 800px) {
    .main_nav {
        font-size: .3em;
        padding: 0;
    }

    
}

.logo_title {
    display: flex;
    align-items: center;
    padding: .5em;
    margin-left: 1em;;
}

.logo_title h2 {
    font-family: 'Architects Daughter', cursive;
    color: #faf1e6;
    margin-left: 1em;
}

.logo_title img {
    margin: 0;
    height: 8vh;

}
